<!DOCTYPE html>
<html lang="eng" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<nav class="navbar bg-secondary navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <div class="navbar-text text-light fs-5 ms-1">
            <span class="fw-bolder" sec:authentication="name"></span>
            <span class="fw-medium">
                with roles:
                <span class="fw-medium" sec:authentication="principal.authorities"></span>
            </span>
        </div>
        <div class="navbar-text">
            <span class="fw-bolder">
            <a class="nav-link text-black-50 fs-5" href="/logout">Logout</a>
            </span>
        </div>
    </div>
</nav>

<div class="row">
    <nav class="col-1 p-3 nav flex-column nav-pills">
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" aria-current="page" href="/admin">
            Admin
        </a>
        <a class="nav-link" href="/user">
            User
        </a>
    </nav>
    <div class="col-2 offset-md-1 p-3">
            <span class="fw-bolder">
                <h1>
                    Admin panel
                </h1>
            </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/new">New user</a>
            </li>
        </ul>
    </div>
    <div class="row">
            <span class="fw-bolder">
                <h4>
                    All users
                </h4>
            </span>
    </div>
    <div class="row ms-1">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sername</th>
                <th>Sex</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getSername()}"></td>
                <td th:text="${user.getSex()}"></td>
                <td>
                    <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
                </td>
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#editUserModal"
                            th:attr="data-id=${user.id}, data-name=${user.name}, data-sername=${user.sername}, data-sex=${user.sex}, data-roles=${user.roles}">
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteUserModal"
                            th:attr="data-id=${user.id}, data-name=${user.name}, data-sername=${user.sername}, data-sex=${user.sex}, data-roles=${user.roles}">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm" method="post">
                    <input type="hidden" name="id" id="editUserId">

                    <div class="mb-3">
                        <label for="editUserName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="editUserName" name="name">
                    </div>

                    <div class="mb-3">
                        <label for="editUserSername" class="form-label">Sername</label>
                        <input type="text" class="form-control" id="editUserSername" name="sername">
                    </div>

                    <div class="mb-3">
                        <label for="editUserSex" class="form-label">Sex</label>
                        <input type="text" class="form-control" id="editUserSex" name="sex">
                    </div>

                    <div class="mb-3">
                        <label for="editUserPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="editUserPassword" name="password">
                    </div>

                    <div class="mb-3">
                        <label for="editUserRoles" class="form-label">Roles</label>
                        <select class="form-select" id="editUserRoles" name="roleNames" multiple>
                            <option th:each="role : ${roles}"
                                    th:value="${role.name}"
                                    th:text="${role.name}"
                            >
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteUserForm" method="post">
                    <fieldset disabled>
                        <label for="deleteUserId" class="form-label">Id</label>
                        <input type="text" class="form-control " name="id" id="deleteUserId">

                        <div class="mb-3">
                            <label for="deleteUserName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="deleteUserName" name="name">
                        </div>

                        <div class="mb-3">
                            <label for="deleteUserSername" class="form-label">Sername</label>
                            <input type="text" class="form-control " id="deleteUserSername" name="sername">
                        </div>

                        <div class="mb-3">
                            <label for="deleteUserSex" class="form-label">Sex</label>
                            <input type="text" class="form-control " id="deleteUserSex" name="sex">
                        </div>

                        <div class="mb-3">
                            <label for="deleteUserPassword" class="form-label">Password</label>
                            <input type="password" class="form-control " id="deleteUserPassword" name="password">
                        </div>

                        <div class="mb-3">
                            <label for="deleteUserRoles" class="form-label">Roles</label>
                            <select class="form-select " id="deleteUserRoles" name="roles" multiple>
                                <option th:each="role : ${roles}"
                                        th:value="${role.name}"
                                        th:text="${role.name}"
                                >
                            </select>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var editButtons = document.querySelectorAll('[data-bs-target="#editUserModal"]');

        editButtons.forEach(function (button) {
            button.addEventListener('click', function () {

                var userId = this.getAttribute('data-id');
                var userName = this.getAttribute('data-name');
                var userSername = this.getAttribute('data-sername');
                var userSex = this.getAttribute('data-sex');

                document.getElementById('editUserId').value = userId;
                document.getElementById('editUserName').value = userName;
                document.getElementById('editUserSername').value = userSername;
                document.getElementById('editUserSex').value = userSex;


                document.getElementById('editUserForm').action = '/admin/' + userId;
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteButtons = document.querySelectorAll('[data-bs-target="#deleteUserModal"]');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {

                var userId = this.getAttribute('data-id');
                var userName = this.getAttribute('data-name');
                var userSername = this.getAttribute('data-sername');
                var userSex = this.getAttribute('data-sex');

                document.getElementById('deleteUserId').value = userId;
                document.getElementById('deleteUserName').value = userName;
                document.getElementById('deleteUserSername').value = userSername;
                document.getElementById('deleteUserSex').value = userSex;


                document.getElementById('deleteUserForm').action = '/admin/delete/' + userId;
            });
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>